################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ScapeCar/.vs
/ScapeCar/ScapeCar.OS.Web/obj
